<h1>Profiles#show</h1>

<%= image_tag @profile.image %>

<!-- does this work? -->
<%= @profile.user %>
<%= @profile.expertise %>
<%= @profile.city %>
<%= @profile.country %>
<%= @profile.website %>
<%= @profile.bio %>
