
<div class="row home-wrapper">
  <!-- left column -->
  <div class="column large-6">


  </div> <!-- END left column -->

  <!-- right column -->
  <div class="column large-6">
    <p><i class="fi-heart home-heart-icon"></i></p>
    <!-- Sign Up form-->
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %><br />
      <%= f.text_field :name %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div class="button-special-div"><span class="center-button"><%= f.submit "Sign up", class: "button-special"  %></span></div>
    <% end %>


    </div> <!-- END Sign Up -->
  </div> <!-- END right column -->
</div>
