<% if can? :update, :new, :create, Post %>
<% end %>

<div class = "large-6 columns center">
<h1> Explore </h1>
  <% @posts.each do |post| %>
  <div class>
      <a href="<%= post_path post%>">
      <%= cl_image_tag(post.image.thumbnail.url :class => "feed") %> <br>
        <strong><%= post.title %><strong></a> - <em class = "pic-username"><%= post.user.name unless post.user.blank?%></em></p>
          <!-- <a href="<%= post_path post%>"> <p><%= post.description %> </a> -->

        <p>
            <% liked = Like.find_by( post: post, user: current_user ) != nil %>
            <% btn_color = liked ? "warning" : "default" %>
            <%= link_to post.likes.count.to_s + " Likes", post_likes_path( post ), method: :post, class: "button #{btn_color}", disabled: !user_signed_in? %>
        </p>
        <!-- End Like Button -->
      </a> </div>
  <% end %>
</ul>
</div>
</div>
